.signup {
  width: 50%;
  margin: auto;
  background-color: #fff;
  height: 70vh;
  display: grid;
  place-items: center;
  margin-top: 100px;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  text-align: center;
}

.signup > h1 {
  font-size: 2.5rem;
  color: #3d3d3d;
}

.signup_email {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 20px;
}

.signup_password {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 20px;
}

.signup_name,
.signup_about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 20px;
}

.signup_name > input[type="text"] {
  outline: none;
  font-size: 1.1rem;
  padding: 3px;
  width: 300px;
}

.signup_name > input[type="text"] {
  padding: 5px;
  border-radius: 7px;
  border: 2px solid #0779e4;
  /* border-color: #0779e4; */
}

.signup_about > input[type="number"],
.signup_about > input[type="text"] {
  outline: none;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 7px;
  border: 2px solid #0779e4;
  /* border-color: #0779e4; */
}

.signup_email > input[type="email"],
.signup_password > input[type="password"] {
  outline: none;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 7px;
  border: 2px solid #0779e4;
  /* border-color: #0779e4; */
}

.signup_avatar {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  border: 1px solid black;
  padding: 5px;
}

.signup > form > button {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  background: rgb(31, 78, 224);
  background: linear-gradient(
    90deg,
    rgba(31, 78, 224, 1) 0%,
    rgba(186, 88, 240, 1) 84%
  );
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  outline: none;
  border: none;
}

.signup > form > button:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.1);
}

.signup_login {
  font-size: 1.3rem;
}

.signup_error {
  background-color: #f53333;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 20px;
  border-radius: 10px;
}
