.signup {
  width: 50%;
  margin: auto;
  background-color: #fff;
  height: 70vh;
  display: grid;
  place-items: center;
  margin-top: 100px;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  text-align: center;
}

.signup > h1 {
  font-size: 2.5rem;
  color: #3d3d3d;
}

.signup_emailPass {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.signup_emailPass > input[type="email"],
.signup_emailPass > input[type="password"] {
  margin: auto;
  outline: none;
}

.signup > form > input[type="password"]:nth-of-type(even) {
  border-color: #0779e4;
  border-top: none;
  border-bottom: none;
}

.signup > form > input[type="password"]:nth-of-type(odd) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-color: #0779e4;
  border-left-color: #0779e4;
  border-right-color: #0779e4;
}

.signup > form > input[type="email"] {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top-color: #0779e4;
  border-left-color: #0779e4;
  border-right-color: #0779e4;
}

.signup > form > button {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  margin-top: 20px;
  background: rgb(31, 78, 224);
  background: linear-gradient(
    90deg,
    rgba(31, 78, 224, 1) 0%,
    rgba(186, 88, 240, 1) 84%
  );
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  outline: none;
  border: none;
}

.signup > form > button:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.1);
}

.signup_login {
  font-size: 1.3rem;
}

.signup_error {
  background-color: #f53333;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 20px;
  border-radius: 10px;
}
