.player {
  position: sticky;
  bottom: 0;
  height: 65px;
  z-index: 10;
  background: rgb(50, 58, 190);
  background: linear-gradient(
    90deg,
    rgba(50, 58, 190, 1) 0%,
    rgba(204, 42, 204, 1) 92%
  );
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* left part */

.player_left {
  display: flex;
  align-items: center;
  color: #ffffff;
  max-width: 300px;
}

.album_logo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.player_albuminfo > h4 {
  margin-bottom: 5px;
}

.player_albuminfo > p {
  font-size: 12px;
}

/* center part */

.player_center {
  /* max-width: 500px; */
}

.player_center_buttons {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.player_center_slider {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.player_icon:hover,
.player_green:hover {
  transition: transform 0.2s ease-out;
  transform: scale(1.2) !important;
}

/* right part */

.player_right > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

.player_right_volume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 20px; */
}

.player_volume_slider {
  width: 200px;
}

.player_volume_down {
  padding-right: 10px;
}

.player_right > ul > li:nth-of-type(2) {
  padding: 0 5px;
}

.player_right * .MuiSlider-root {
  color: #ffffff;
}
